@import url("https://fonts.googleapis.com/css2?family=Katibeh&display=swap");
* {
  box-sizing: border-box;
  font-family: Katibeh, cursive;
  font-size: 25px;
}
body {
  background-color: lightslategrey;
}
#header {
  position: relative;
  width: 850px;
  height: 250px;
  background-color: #3b5998;
  margin: 10px auto;
  color: darkgrey;
}
#header h3 {
  position: relative;
  left: 175px;
  top: 215px;
}
#header h4 {
  position: relative;
  left: 175px;
  top: 134px;
  margin-top: 0px;
}
#header .header {
  position: relative;
  height: 375px;
}
.picture {
  position: relative;
  height: 200px;
  width: 150px;
  border: 1px solid black;
  margin: 10px 10px 10px 10px;
  top: -275px;
  z-index: 1;
  background-color: #293c6698;
}
.nav {
  position: relative;
  background-color: rgba(252, 252, 252, 0.466);
  height: 44px;
  width: 850px;
  top: -369px;
  margin: 0 auto;
  border: 0px solid silver;
  border-radius: 10px;
}
#nav-list {
  margin: 0px auto;
  list-style-type: none;
  text-decoration: none;
  color: black;
  padding-left: 123px;
}
.nav-link {
  display: inline-block;
  padding-left: 22px;
  margin-left: 30px;
}
.picture img {
  max-width: 148px;
  height: 198px;
}

p {
  margin: 0px auto;
}
p::after {
  content: "🞃";
}
.like-tabs {
  position: relative;
  left: 545px;
  top: -399px;
  height: 40px;
  width: 300px;
  background-color: cornsilk;
  border-radius: 10px;
}
